@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  border: 0.2px solid #2c2c2c;
  box-shadow: 2px 2px 2px #272727;
  padding: 30px;
}
h3 {
  margin: 0;
  padding: 0;
}
select {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: 0.3px solid #454545;
}

#form-controls button {
  margin: 1.5rem 0.5rem ;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;  outline: none;
  border: none;
}

#form-controls button:active {
  background-color: #460c0c;
}
#form-controls button:hover {
  background-color: #181818;

}


#results {
  margin: 2rem 0;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
  background-color: hsl(0, 0%, 17%);
}
.results {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  margin: 0 10px;
  padding: 0;
  text-align: left;
}
.result-box {
  margin: 0px;
  padding: 5px;
  text-align: left;
  background-color: #1d1d1d;

}
code {
  width: 100%;
}
